<div id="app">
  {{ message }}
</div>

<h1>Schools (<%= @schools_primary.length %>)</h1>

<% @schools_primary.each do |school| %>
  <h3><a href="/schools/<%= school["school_id"] %>"><%= school["long_name"] %></a></h3>
  <h3>Located at <%= school["address"] %></h3>
  <h5>Type: <%= school["school_type"] %></h5>
  
<% end %>