<h1>Schools (<%= @schools.length %>)</h1>

<% @schools.each do |school| %>
  <h2><a href="/schools/<%= school.id %>"><%= school.name %></a></h2>
  <h3>Located in <%= school.real_estate_datum.neighborhood %></h3>
  <h5>Tier: <%= school.tier_rank %></h5>
  <h5>Type: <%= school.level %></h5>
  <div>
    <%= form_tag "/savedsearch", method: "post" do %>
      <input type="hidden" class="form-control" name="form_product_id" value="<%= school.id %>">
      <input type="submit" class="btn btn-default" value="Select to compare">
    <% end %>
  </div>
<% end %>