<div id="mapIndex"></div>

<script>
function initMap() {
  var mapIndexed = new google.maps.Map(document.getElementById('mapIndex'), {
    center: {lat: 41.8922745, lng: -87.6346887},
    zoom: 11
  });
}
</script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwX5lbHn1JS_1JHy1DB5Nmt9GMUPSMB18&callback=initMap"
 async defer></script>

<div id="app">
  {{ message }}
</div>

<h1>Schools (<%= @schools_primary.length %>)</h1>

<% @schools_primary.each do |school| %>
  <h3><a href="/schools/<%= school["school_id"] %>"><%= school["long_name"] %></a></h3>
  <h3>Located at <%= school["address"] %></h3>
  <h5>Type: <%= school["school_type"] %></h5>
  
<% end %>