<script>
  school_id = "<%= @school_primary['school_id'] %>"
</script>

<div class="container">
  <div class="row no-gutters">
    <!-- Google Maps view -->
    <div id="mapShow"></div>
  </div>  
  <br>

  <!-- School Details in Ruby-->
      <div class="well">
        <h3><%= @school_primary["long_name"] %></h3>
        <h4><%= @school_primary["address"] %></h4><br>
        <p><%= @school_primary["summary"] %></p><br>
        <p><%= @school_primary["school_type"] %></p>
        <p>Offers Pre-school? <%= @school_primary["is_pre_school"] %> | <%= @school_primary["prek_school_day"] %></p>
        <p><%= @school_primary["phone"] %></p>
        <p><%= @school_primary["website"] %></p>
        <p><%= @school_primary["grades_offered"] %></p><br>
        <p>Hours: <%= @school_primary["school_hours"] %></p>
        <p>After school: <%= @school_primary["after_school_hours"] %></p><br>
        <h5>School Standing</h5>
        <p><%= @school_primary["rating_statement"] %></p>
        <p>College Enrollment Rate: <%= @school_primary["college_enrollment_rate_school"] %></p>
        <p>Graduation Rate: <%= @school_primary["graduation_rate_school"] %></p><br>
        <h5>Demographics</h5>
        <p>Total students: <%= @school_primary["student_count_total"] %></p>
        <p>Low Income: <%= @school_primary["student_count_low_income"] %></p>
        <p>Black: <%= @school_primary["student_count_black"] %></p>
        <p>Hispanic: <%= @school_primary["student_count_hispanic"] %></p>
        <p>White: <%= @school_primary["student_count_white"] %></p>
        <p>Asian: <%= @school_primary["student_count_asian"] %></p>
        <p>Native American: <%= @school_primary["student_count_native_american"] %></p>
        <p>Asian/Pacific Islander: <%= @school_primary["student_count_asian_pacific_islander"] %></p>
        <p>Other: <%= @school_primary["student_count_other_ethnicity"] %></p>
        <p><%= @school_primary["statistics_description"] %></p>
        <p><%= @school_primary["demographic_description"] %></p><br>
        <h5>Transportation Options</h5>
        <p>CTA Bus: <%= @school_primary["transportation_bus"] %></p>
        <p>CTA El: <%= @school_primary["transportation_el"] %></p>
        <p>Metra: <%= @school_primary["transportation_metra"] %></p><br>

        <br>
        <div>
          <%= form_tag "/savedsearch", method: "post" do %>
            <input type="hidden" class="form-control" name="school_id" value="<%= @school_primary["school_id"] %>">
            <input type="submit" class="btn btn-default" value="Select to compare">
          <% end %>
        </div>
      </div>
</div>


      <script>
      console.log('hello');
        function initMap() {
          console.log('initMap');
          // var mapShowPage = new google.maps.Map(document.getElementById('mapShow')
          // );
          var map = new google.maps.Map(document.getElementById('mapShow'), {
            center: {lat: 41.8922745, lng: -87.6346887},
            zoom: 11
          });
          // var marker = new google.maps.Marker({
          //   position: new google.maps.LatLng(location[i][1], location[i][2]),
          //   map: map
          // });
        }
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwX5lbHn1JS_1JHy1DB5Nmt9GMUPSMB18&callback=initMap" async defer>
      </script>
